root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = false

[*.md]
max_line_length = 0
trim_trailing_whitespace = false

[COMMIT_EDITMSG]
max_line_length = 0

[*.go]
charset = utf-8
end_of_line = lf
indent_size = 8
indent_style = tab
insert_final_newline = false
trim_trailing_whitespace = false

[{Makefile,**.mk}]
indent_style = tab